@use "src/styles/base" as *;
section.container,
section > .container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media (min-width: 992px) {
  .about,
  section.container {
    text-align: start;
  }
}
.about{
  background-color: var(--bg-secondary);
  color: var(--color-primary);
}
.about h2,
.projects h2,
.contact h2,
.skills h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  text-transform: capitalize;
  color: $blue-0;
}

.about .hero-wrapper {
  margin-top: 2rem;
  gap: 3rem;
}
@media (max-width: 768px) {
  .about-content {
    text-align: center;
  }
}
.about-content p {
  &:first-of-type {
  }
  &:last-of-type {
  }
}

.achieved {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 1rem;
}
@media (min-width: 992px) {
  .achieved {
    justify-content: flex-start;
  }
}

.achieved .box {
  border: 1px solid var(--border-shadow-color);
  border-radius: 10px;
  text-align: center;
  padding: 1rem 1rem;
}
.achieved .box:nth-child(1) {
}
.achieved .box:nth-child(2) {
}
.achieved .box:nth-child(3) {
}

// ------[image]---------
.about-image {
  display: none;
  background: url(../assets/about-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // filter: grayscale(.5);
  justify-self: center;
  width: 100%;
  height: 550px;
  max-height: 100%;
  border-radius: 10px;
}
@media (min-width: 992px) {
  .about-image {
    display: inline-block;
  }
}
