@use "src/styles/base" as *;
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
.sticky-2 {
  position: fixed;
  z-index: 1;
  translate: 0 0 !important;
  width: 100vw;
}
.add-translate {
  translate: 0 -200px;
}
.logo {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  // color: var(--color-accent);
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.6rem;
}

header nav {
  background-color: var(--bg-secondary-2);
  transition: translate $transition;
}
header nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
@media (max-width: 768px) {
  header nav .container {
    padding: 1rem 2rem;
  }
}
header nav ul {
  display: flex;
  gap: 2rem;
  text-align: center;
}
@media (max-width: 1140px) {
  header nav ul {
    gap: 1rem;
  }
}

header nav li {
  padding: 1rem 0rem;
}
header nav a {
  text-transform: capitalize;
  &:not(header nav > a):hover {
    color: var(--color-accent);
  }
}
