@use "/src/styles/base/" as *;
.social {
  display: flex;
  justify-content: start;
  gap: 1rem;
  font-size: 30px;
  margin-top: 1rem;
  & a {
    transition: color $transition,
    transform $transition;
    &:hover {
      color: var(--color-accent);
    }
    // transition: transform $transition;
  }
}
.social a img{
    width: 60px;
}
.social a:hover {
  transform: rotate(10deg) translateX(-5px);
}
@media (max-width: 992px) {
  .social {
    justify-content: center;
  }
}
