@use "src/styles/base" as *;
.tech-stack {
    display: flex;
    align-items: center;
    position: absolute;
    left: 10px;
    bottom: -6rem;
    gap: 1rem;
    font-size: 2rem;
  }
  
  .tech-stack ul {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
  }
  .tech-stack ul li{
    transition: translate $transition;
  }
  .tech-stack ul li:hover{
    translate: 0 -1rem;

  }
  @media (max-width: 992px) {
    .tech-stack {
      flex-direction: column;
      left: 50%;
      bottom: -4rem;
      translate: -50% 50%;
    }
    .breaker{
      display: none;
    }
    .tech-stack ul{
      margin-top: 0;
    }
  }