@use "src/styles/base" as *;
.tech-stack {
  flex: 0  0 100%;
  margin-top: 100px;
  order: 4;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}

.tech-stack ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}
.tech-stack ul li {
  transition: translate $transition;
}
.tech-stack ul li:hover {
  translate: 0 -1rem;
}

.stack-left {
  transition: left 1s ease-in-out;
  left: -50rem;
}
.stack-get-from-side {
  left: 10px;
}

@media (max-width: 992px) {
  .tech-stack {
    flex-direction: column;
    order: -1;
    bottom: -4rem;
    margin-top: 50px ;
  }
  .stack-get-from-side {
    left: 50% !important;
  }

  .breaker {
    display: none;
  }
  .tech-stack ul {
    margin-top: 0;
  }
}
