$white-0: #ffffff;
$white-1: #f9f9f9;
$black-0: #000000;
$black-1: #2d2e32;
$blue-1: #778afb;
$transition:0.3s ease-in-out;

$bg-primary: $white-1;
$bg-secondary: $white-0;
// $bg-primary: $black-1;
// $bg-secondary: $black-0;

$color-primary: $black-1;
$color-secondary: $black-0;
$color-accent: $blue-1;

